<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="mat-body">
        <h1>Vigenere cipher</h1>
        <form #f="ngForm" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Decoded message</mat-label>
            <input name="encoded" matInput ngModel/>
          </mat-form-field>

          <div fxLayout="row">
            <mat-form-field appearance="outline" fxFlex="50%" style="margin-right: 15px;">
              <mat-label>Password</mat-label>
              <input type="text" name="password" required matInput ngModel/>
            </mat-form-field>

            <div  fxFlex="5%">
              <button
                type="button"
                [disabled]="f.invalid"
                (click)="getEncoded()"
                mat-icon-button
                color="warn">
                <mat-icon>arrow_upward</mat-icon>
              </button>
            </div>


            <div  fxFlex="5%">
              <button
                type="button"
                [disabled]="f.invalid"
                (click)="getDecoded()"
                mat-icon-button
                color="warn">
                <mat-icon>arrow_downward</mat-icon>
              </button>
            </div>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Encoded message</mat-label>
            <input type="text" name="decoded" matInput ngModel/>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
